

body {
  background-color: #494455;
}

#game-container {
  margin-left: auto;
  margin-right: auto;
  width: 1100px;
  height: 1000px;
  border: #000;
  border-style: solid;
}

#grid-nav-container {
  display: block;
}

#nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#game-grid {
  display: grid;
  grid-template-rows: (6, auto);
  grid-template-columns: (5, auto);
  width: 327px;
  height: 332.5px;
  border: 0.5px solid #000000;
  margin-left: auto;
  margin-right: auto;
}

.tile {
  width: 52px;
  height: 52.5px;
  border: 2px solid black;
  border-radius: 5px;
  margin: 4px;
  text-transform: uppercase; /* 'CSS property specifies how to capitalize an element's text' - MDN */
  color: white;
  display: grid;
  place-items: center; /* sets both align-items and justify-items */
  font-family: 'Tile Text';
  font-size: 2rem; /*"'root em', a unit of measurement that represents the font size of the root element" - https://www.sitepoint.com/understanding-and-using-rem-units-in-css/ */
}

.button {     
  background-color: Transparent;
  border: none;
  cursor: pointer;
}
.game-text {
  font-family: 'Main Text';
  color: #fff;
  filter: drop-shadow(-2px 3px 2px #000);
  font-size: 40px;
  text-align: center;
}

.nav-item {
  width:33%;
  text-align: center;
}

#wordle-title {
  font-size: 100px;
}

@font-face { 
  /* "specifies a custom font with which to display text; the font can be loaded from either a remote server or a locally-installed font on the user's own computer." - MDN */
  font-family: 'Main Text'; /* Can rename font-family for easier reference*/
  src: url('/assets/JustAnotherHand-Regular.ttf');
  /* downloaded from google font https://fonts.google.com/specimen/Just+Another+Hand?query=just+another+hand */
  /* learned to download font and use for project by using the file path */
}

@font-face {
  font-family: 'Tile Text';
  src: url('/assets/Bungee-Regular.ttf')
  /* downloaded from google font https://fonts.google.com/specimen/Bungee?query=bunge */
}

