

body {
  background-color: #494455;
}

#game-container {
  margin-left: auto;
  margin-right: auto;
  width: 1100px;
}

#nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#instructions-tiles-results-div {
  display: flex;
  justify-content: space-evenly;
  height: 349px;
  margin-top: 5px;
  margin-bottom: 50px;
}

.side-div {
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 100%;
}

.aside {
  display: flex;
  margin-top: 5px;
  padding: 8px 5px 8px 5px;
  background-color: #ebdca8;
  align-items: center;
}

#game-tiles-div {
  width: 33%;
  height: 349px;
}

#results-aside {
  flex-direction: column;
  line-height: 130%;
}

.instructions-ol {
  padding-left: 18px;
  text-align: left;
  color: #000000;
  margin: 0px;
  font-size: 25px;
  line-height: 22px;
}

.results-ul {
  list-style-type: none;
  color: #000;
  text-align: left;
  padding-left: 5px;
  margin-top: 0px;
  margin-bottom: 5%;
  align-self:baseline;
}

#game-tiles {
  position: relative;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  grid-template-rows: (6, auto);
  grid-template-columns: (5, auto);
  width: 327px;
  margin-left: auto;
  margin-right: auto;
}

/* Default Tile */
.tile {
  display: flex;
  background-color: #878787;
  width: 52px;
  height: 52.5px;
  border: 2px solid black;
  border-radius: 5px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  margin: 1px;
  justify-content:space-evenly;
  font-family: 'Tile Text';
  color: #fff;
  font-size: 2.2rem; /*"'root em', a unit of measurement that represents the font size of the root element" - https://www.sitepoint.com/understanding-and-using-rem-units-in-css/ */
}

/* Tile Backgrounds after Submitted Attempts */
.unused {
  background-color: #2d2d2d;
}
.correct {
  background-color: #3FA004;
}
.wrong-position {
  background-color: #B4AC0A;
}

#keyboard-container {
  background-color: #393543;
  border: #000;
  border-style: solid;
  border-radius: 9px;
  width: 50%;
  height: 200px;
  margin: 20px auto auto auto;
  display: flex;
  place-items: center;
  justify-content: space-evenly;
}

.keyboard-row {
  display: flex;
  justify-content: center;
}

#delete-submit-keys-container {
  display: flex;
  width: 20%;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
}

.char-key {
  width: 35px;
  background-color: #878787;
  height: 44.5px;
  border: 2px solid black;
  border-radius: 5px;
  margin: 1px;
  text-transform: uppercase; /* 'CSS property specifies how to capitalize an element's text' - MDN */
  color: white;
  display: grid;
  place-items: center; /* sets both align-items and justify-items */
  font-family: 'Tile Text';
}

.non-char-keys {
  width: 80%;
  height: 15%;
  color: #fff;
  align-self: center;
  border-radius: 5px;
  border: none;
  filter: drop-shadow(-2px 3px 2px #000);
  font-family: "Tile Text" ;
  cursor: pointer;
}

#delete-key {
  background-color: #494455;
}

#submit-key {
  background-color: #4BC157;
}

.game-text {
  font-family: 'Main Text';
  color: #fff;
  filter: drop-shadow(-2px 3px 2px #000);
  font-size: 40px;
  text-align: center;
}

.button {     
  background-color: Transparent;
  border: none;
  cursor: pointer;
  padding: 0px;
  color: #fff;
}


.nav-item {
  width:33%;
  text-align: center;
}

#wordle-title {
  font-size: 90px;
  margin-top: 50px;
  margin-bottom: 0px;
}

@font-face { 
  /* "specifies a custom font with which to display text; the font can be loaded from either a remote server or a locally-installed font on the user's own computer." - MDN */
  font-family: 'Main Text'; /* Can rename font-family for easier reference*/
  src: url('../assets/JustAnotherHand-Regular.ttf');
  /* downloaded from google font https://fonts.google.com/specimen/Just+Another+Hand?query=just+another+hand */
  /* learned to download font and use for project by using the file path */
}

@font-face {
  font-family: 'Tile Text';
  src: url('../assets/Bungee-Regular.ttf')
  /* downloaded from google font https://fonts.google.com/specimen/Bungee?query=bunge */
}

